* {
  --primary: lightblue;
  --secondary: lightseagreen;
  --danger: red;
  --default: lightgrey;
  background-color: var(--default);
}

body {
  margin: 0px;
}

header,
nav,
section,
footer {
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header > p {
  font-size: 2em;
}

@media screen and (min-width: 40em) {
  main {
    height: 100vh;
    width: 100%;
    font-size: 1em;
    display: grid;
    grid-template-areas:
      "header header"
      "nav section"
      "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.75fr 2fr 0.75fr;
  }
}

@media screen and (max-width: 40em) {
  main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
      "header header"
      "section section"
      "nav nav"
      "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 0.75fr 0.5fr;
  }
}

nav ul > li#home {
  grid-area: home;
}

nav ul > li#login {
  grid-area: login;
}

nav ul > li#register {
  grid-area: register;
}

nav ul > li#about {
  grid-area: about;
}

nav ul > li#feedback {
  grid-area: feedback;
}

nav ul > li#logout {
  grid-area: logout;
}

header {
  grid-area: header;
  background-color: var(--primary);
}

nav {
  grid-area: nav;
  background-color: var(--secondary);
}

section {
  grid-area: section;
  background-color: lightgoldenrodyellow;
}

footer {
  grid-area: footer;
  background-color: lightcoral;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
